---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app meshcentral
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: meshcentral
  values:
    controllers:
      meshcentral:
        annotations:
          secret.reloader.stakater.com/reload: meshcentral-config
        containers:
          app:
            image:
              repository: ghcr.io/ylianst/meshcentral
              tag: 1.1.56
            env:
              TZ: "Australia/Melbourne"
              NODE_ENV: production
              HOSTNAME: &host mesh.davidstewen.com
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: &port 8080

    route:
      app:
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "Netboot.xyz"
          hajimari.io/info: "Network boot system"
          hajimari.io/icon: "refresh-auto"
        hostnames: ["mesh.davidstewen.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        type: configMap
        name: meshcentral-config
        advancedMounts:
          meshcentral:
            app:
              - path: /opt/meshcentral/meshcentral-data/config.json
                subPath: config.json
      data:
        existingClaim: meshcentral-data
        globalMounts:
          - path: /root
            subPath: rootdir
          - path: /opt/meshcentral/meshcentral-data
            subPath: data
          - path: /opt/meshcentral/meshcentral-files
            subPath: userfiles
          - path: /opt/meshcentral/meshcentral-backups
            subPath: backups
